@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  --txt-p1-size: 22px;
  --txt-p1-line-height: 120%;
  --txt-p1-letter-spacing: 0px;
  --txt-p1-font-weight: 700;
  --txt-p1-color: var(--slate-900);
  --txt-p2-size: 15px;
  --txt-p2-line-height: 140%;
  --txt-p2-letter-spacing: 0.2px;
  --txt-p2-font-weight: 400;
  --txt-p2-color: var(--slate-500);

  --background-color: var(--slate-300);
  --qr-code-background: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  background-color: var(--background-color);
  min-height: 100vh;
}

main {
  grid-row: 2;
  display: grid;
  place-items: center;
}

.qr-code-container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:
  var(--spacing-200)
  var(--spacing-200)
  var(--spacing-500);

  background-color: var(--qr-code-background);
  border-radius: var(--spacing-200);
}

.qr-code-container a{
  display: block;
  width: 100%;
}

.qr-code-container img {
  width: 100%;
  height: auto;
  border-radius: var(--spacing-200);
}

.text-preset1 {
  font-size: var(--txt-p1-size);
  line-height: var(--txt-p1-line-height);
  letter-spacing: var(--txt-p1-letter-spacing);
  font-weight: var(--txt-p1-font-weight);
  color: var(--txt-p1-color);
  text-align: center;
  margin-top: var(--spacing-300);
  padding: 0 var(--spacing-200);
}

.text-preset2 {
  font-size: var(--txt-p2-size);
  line-height: var(--txt-p2-line-height);
  letter-spacing: var(--txt-p2-letter-spacing);
  font-weight: var(--txt-p2-font-weight);
  color: var(--txt-p2-color);
  text-align: center;
  margin-top: var(--spacing-200);
  padding: 0 var(--spacing-200);
}


footer {
  grid-row: 3;
  align-self: center;
  width: 100%;
}
.attribution {  
  text-align: center;
  font-size: 1.2rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--slate-900),
    var(--slate-500),
    var(--slate-900),
    black,
    black
  );
}

.attribution a {
  display: inline-block;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    black,
    var(--slate-900),
    var(--slate-500),
    var(--slate-500),
    black
  );
  background-size: 300% 200%;
  animation: gradient 2.3s linear infinite;
  margin-inline: 0.15rem;
  transition: transform 300ms ease;
  transform: padding 300ms ease;
}

.attribution a:hover {
  transform: scale(1.1);
  padding: 0.15rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}